{% extends 'appbase.html' %}
{% load static %}
{% block content %}
<h5 class="text-center">Search results for {{q}}</h5>
<div class="container">
<div class="row">
  {% for i in s %}
  <div class="col-md-5 m-3">
    <div class="card m-3" style="width:30rem;">
  <img src="{{i.img.url}}" class="card-img-top" style="height:300px;width:100%">
  <div class="card-body">
    <p class="card-text">by {{i.author}}</p>
    <p>{{i.created}}</p>
    <h6>{{i.title}}</h6>
    <h6>{{i.content|slice:":200" }}</h6>
    <a href="{% url 'application:read' i.id %}" class="btn btn-primary">Read More</a>
  </div>
</div>
</div>
  {% empty %}
  <h4 class="text-center">0 results for {{q}}</h4>
  {% endfor %}
</div>
  </div>

{% endblock %}